@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div id="map_canvas" class="col-md-12" style="height:500px;"></div>
    </div>
</div>